*{
    margin: 0;
    padding: 0;
}

/* shared css */

.container{
    max-width: 1320px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.justify-content-b{
    justify-content: space-between;
}

.justify-content-a{
    justify-content: space-around;
}

.justify-content-e{
    justify-content: space-evenly;
}

.text-align{
    text-align: center;
}


.btn-primary{
    padding: 13px 16px;
    text-transform: capitalize;
    background: #469165;
    border: 1px solid #469165;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

.btn-primary:hover{
    background: transparent;
    color: #000;
    border: 1px solid #000;
}








/* main css */

body{
    font-family: "Inter", sans-serif;
}


.top-navbar{
    padding: 16px 0;
}

.top-navbar .logo img{
    width: 139px;
}



.main-menu ul{

    gap: 32px;
    list-style: none;
}

.main-menu ul li a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
}





/* hero section  */

.banner-area{
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
}


.banner-content{
    padding: 150px 0;
}

.banner-content button{
    padding: 8px 12px;
    border-radius: 1000px;   
    border: 1px solid #EFEFEF;
    color: #469165;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 16px;
    cursor: pointer;
    transition: .5s;
}

.banner-content button:hover{
    background: transparent;
    color: #fff;
    border: 1px solid #000;
}



.banner-content h1{
    width: 770px;
    margin: auto;
    font-size: 72px;
    line-height: 84px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 16px;
}

.banner-content h1 span{
    color: #469165;
}

.banner-content p{
    color: #fff;
    line-height: 24px;
    margin-bottom: 32px;
}


.banner-button a{
    margin-right: 16px;
}

.banner-btn:hover{
    color: #fff;
}

.btn-transparent{
    padding: 13px 16px;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

.btn-transparent:hover{
    background: #469165;
    border: 1px solid #469165;
}





/* note section  */


.note-area{
    padding: 100px 0;
}

.note-title{
    margin-bottom: 44px;
}

.note-title h2{
    color: #001931;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.note-title p{
    color: #627382;
    line-height: 20px;
}


.note-card-section{
    gap: 24px;
}

.note-card{
    padding: 70px 25px;
    height: 250px;
    box-shadow:0 0 8px #00000021;
}

.card-image{
    margin-bottom: 16px;
}


.card-image img{
    width: 32px;
    background: #469165;
    border-radius: 50%;
    padding: 15px;
}

.note-card-content h4{
    font-size: 24px;
    color: #001931;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 16px;
}

.note-card-content p{
    color: #627382;
    line-height: 20px;
}




/* app section  */


.apps{
    padding: 130px 0;
}

.app-section{
    gap: 60px;
}

.brain-image img{
    width: 600px;
}

.app-t-des{
    margin-bottom: 60px;
}

.app-t-des h5{
    font-size: 16px;
    color: #469165;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 16px;
}

.app-t-des h2{
    font-size: 48px;
    color: #001931;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.app-t-des p{
    color: #627382;
    line-height: 20px;
    width: 460px;
}


.app-list p{
    color:#001931;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 16px;
}

.app-list p i{
    color: #469165;
    font-size: 14px;
}



/* ready to think  */

.ready-to-think{
    margin-bottom: 120px;
}

.ready{
    background: #F7F6F2;
}


.think-t-des{
    padding-top: 80px;
}

.think-more{
    padding-bottom: 80px;
}

.think-t-des h3{
    font-size: 40px;
    color: #001931;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.think-t-des p{
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}


.think-btn{
    margin-bottom: 20px;
}

.more-des p{
    color: #627382;
    line-height: 20px;
}






/* footer section  */

.footer{
    background: #001931;
}

.footer-section{
    padding-top: 130px;
}

.f-logo img{
    width: 139px;
}

.f-content h5{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 16px;
}

.f-icons{
    gap: 10px;
}

.f-icons a{
    display: block;
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 50%;
    font-size: 10px;
}


.copyright{
    margin-top: 80px;
    padding-bottom: 30px;
}


.copyright p{
    color: #fafafa;
    line-height: 24px;
    padding-top: 30px;
    border-top: 1px solid #E5E7EB;
}