*{
    margin: 0;
    padding: 0;
}

/* shared css */

.container{
    max-width: 1320px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.justify-content-b{
    justify-content: space-between;
}

.justify-content-a{
    justify-content: space-around;
}

.justify-content-e{
    justify-content: space-evenly;
}

.text-align{
    text-align: center;
}


.btn-primary{
    padding: 13px 16px;
    text-transform: capitalize;
    background: #469165;
    border: 1px solid #469165;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

.btn-primary:hover{
    background: transparent;
    color: #000;
    border: 1px solid #000;
}








/* main css */

body{
    font-family: "Inter", sans-serif;
}


.top-navbar{
    padding-top: 16px;
}

.top-navbar .logo img{
    width: 139px;
}



.main-menu ul{

    gap: 32px;
    list-style: none;
}

.main-menu ul li a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
}
